<div class="blog-masthead" ng-controller="NavbarCtrl">
      <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <h3 class="title"><i class=" glyphicon glyphicon-grain"></i>{{application.name}}</h3>
            </div>
        </div>

        <div class="col-xs-12 pull-right text-right">
            <ul class="sub-navigation">
                <li>
                    <button class="btn btn-green"><img src="assets/images/lock.png" width="15px"> Sign Out</button>
                </li>
                 <li dropdown>
                     <a href="#" dropdown-toggle>Settings <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                          <li><a href="#">...</a></li>
                          ....
                     </ul>
                </li>   
                 <li dropdown>
                     <a href="#" dropdown-toggle>Help & Support<b class="caret"></b></a>
                     <ul class="dropdown-menu">
                          <li><a href="#">...</a></li>
                          ....
                     </ul>
                </li>   
        </div>


        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Accounts</a>
        </nav>
        
      </div>
 </div>

